@font-face {
    font-family: 'YDIYMjO360';
    src: url('../font/-윤명조360.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YDIYGO350';
    src: url('../font/윤고딕350.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'PyeongBut';
    src: url('../font/PyeongBut.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HmMagic';
    src: url('../font/HMKMMAG.ttf ') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BickhamStd';
    src: url('../font/BickhamScriptStdRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* 웹용 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");